@model SehirProje.Models.slider_images

@{
    ViewBag.Title = "Slider Detay";
}

<h2>Slider Detayı</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Slider Listesine Geri Dön", "Index")
</p>
